*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    background-color: rgb(54, 34, 9);

}

body {
    background-color: rgb(226, 187, 128);
}

img {
    width: 200px;
    /* Defina a largura desejada */
    height: auto;
    /* A altura será ajustada automaticamente para manter a proporção */
}

.produto {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}
.imgBanner{
    width: 400px;
}

.item {
    display: flex;
    /* Ativa o flexbox */
    flex-direction: column-reverse;
    /* Define a direção dos itens como coluna */
    align-items: stretch;
    /* Alinha os itens no centro horizontalmente */
}
.cardapio {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens do cardápio sejam distribuídos em várias linhas */
    justify-content: space-around;
}
footer {
    text-align: center;
    background-color: rgb(54, 34, 9);
    padding: 50px;

}

