*{  
    margin: 0;
    padding: 0;
    
}

#gamapasteis{
    background-image: url(img/GAMAPASTELES.png);
    background-repeat: no-repeat;
    width: 100%;
}
h1 {
    text-align: center;
    background-color: rgb(54, 34, 9);

}

body {
    background-color: rgb(226, 187, 128);
}

img {
    width: 200px;
    /* Defina a largura desejada */
    height: auto;
    /* A altura será ajustada automaticamente para manter a proporção */
}

.produto {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}
.imgBanner{
    width: 400px;
}

.item {
    display: flex;
    /* Ativa o flexbox */
    flex-direction: column-reverse;
    /* Define a direção dos itens como coluna */
    align-items: stretch;
    /* Alinha os itens no centro horizontalmente */
}
.cardapio {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens do cardápio sejam distribuídos em várias linhas */
    justify-content: space-around;
}
footer {
    text-align: center;
    background-color: rgb(54, 34, 9);
    padding: 50px;

}

ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 500px;
    left: 80px;
}
#menu li{
    background-color: rgb(52, 34, 9);
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    font-weight: bolder;
}
nav#menu{
    display:block;
}
nav#menu a:link{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
nav#menu a:visited{
    color: white
}

